<%- include('partials/header.ejs') %>
<h1>Google OAuth Implementation</h1>
<button id="g_btn"><img src="/assets/image.png" alt="google icon">Login with Google</button>
<%- include('partials/footer.ejs') %>